<form action="/wiki/talk_page/<%= page.pageID %>" method="post">
    <div>
        <label>Add a comment:</label><br />
        <textarea name="content" rows="15" cols="100"></textarea>
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
<p>
  <em>Feel free to write comments using Markdown language. It will be converted to html on the page.</em>
</p>
